#art1 {
  background-color: red;
  font-family: cursive;
  font-size: 2.5em;
  color: white;
  line-height: 1em;
  padding: 1px;
  border: 2px solid green;
  border-radius: 5%;
}

#art2 {
  background-color: blue;
  font-family: fantasy;
  font-size: 2em;
  color: red;
  line-height: 2em;
  padding: 2px;
  border: 3px dotted orange;
  border-radius: 10%;
}

#art3 {
  background-color: orange;
  font-family: inherit;
  font-size: 1.5em;
  color: black;
  line-height: 3em;
  padding: 3px;
  border: 4px dashed rgb(17, 230, 64);
  border-radius: 20%;
}

#art4 {
  background-color: rgb(134, 28, 214);
  font-family: monospace;
  font-size: 1em;
  color: green;
  line-height: 4em;
  padding: 4px;
  border: 5px groove gold;
  border-radius: 25%;
}

#art5 {
  background-color: rgb(107, 108, 131);
  font-family: sans-serif;
  font-size: .5em;
  color: rgb(117, 39, 119);
  line-height: 5em;
  padding: 5px;
  border: 6px groove rgb(255, 222, 0);
  border-radius: 70%;
}
